{% extends "base.html" %}

{% block content %}
    {% if request.user.is_superuser %}
        <section>
            <a href={% url 'tournaments:create-tournament' %}>Add Tournaments</a>
            <a href={% url 'tournaments:create-course' %}>Add Courses</a>
        </section>
    {% endif %}
    <section>
        {% if object_list %}

            <h1>Tournament calendar {{ current_year }}</h1>
            {% for tournament in object_list %}
                <p>
                    {{ tournament.course }}: {{ tournament.date }} ; Tee time: {{ tournament.tee_time }}
                    <span><a href={% url 'tournaments:edit-tournament' tournament.slug %}>Edit</a></span></p>
            {% endfor %}
        {% else %}
            <h1>No tournaments available</h1>
        {% endif %}
    </section>
{% endblock %}