{% extends "base.html" %}

{% block content %}
    {% if request.user.is_superuser %}
        <section>
            <a href={% url 'tournaments:create' %}>Add Tournaments</a>
            <a href={% url 'tournaments:create-course' %}>Add Courses</a>
        </section>
    {% endif %}
    <section>
        {% if object_list %}
            <form id="delete-form" action="{% url 'tournaments:delete' %}" method="post">
                {% csrf_token %}
                <input id="delete-button" type="submit" value="Delete selection">

                <h1>Tournament calendar {{ current_year }}</h1>
                {% for tournament in object_list %}
                    <p class="tournament-{{ tournament.id }}">
                        <label>
                            <input type="checkbox" name="delete-checkboxes" class="delete-checkbox" value="{{ tournament.id }}">
                        </label>
                        <span>
                    {{ tournament.course }}: {{ tournament.date }} ; Tee time: {{ tournament.tee_time }}
                    <span><a href={{ tournament.get_edit_url }}>Edit</a></span>
                    <span><a href={{ tournament.get_absolute_url }}>View</a></span></span>
                    </p>
                {% endfor %}    
            </form>

        {% else %}
            <h1>No tournaments available</h1>
        {% endif %}
    </section>
{% endblock %}
