<table>
    <thead>
    <tr>
        <th></th>
        <th>First name</th>
        <th>Family name</th>
        <th>Department</th>
        <th>HCP</th>
        <th>Membership</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Registration date</th>
    </tr>
    </thead>
    <tbody>
    {% for  competitor in competitors %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ competitor.user_profile.first_name }}</td>
            <td>{{ competitor.user_profile.family_name }}</td>
            <td>{{ competitor.user_profile.department }}</td>
            <td>{{ competitor.hcp }}</td>
            <td>Membership not available</td>
            <td>{{ competitor.user_profile.user.email }}</td>
            <td>{{ competitor.user_profile.phone_number }}</td>
            <td>{{ competitor.registration_date }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>