{% block detail-content %}
    <section>

        <p>last update:{{ object.elapsed_time }}</p>
        <form id="edit-form" method="get" action="{{ object.get_edit_url }}">
            {% csrf_token %}
            
        <h1>Informations</h1><span><button type="submit">Edit</button></span>
        </form>
        <table>
            <tr>
                <td>Date:</td>
                <td>{{ object.date }}</td>
                <td>First tee time:</td>
                <td>{{ object.tee_time }}</td>
            </tr>
            <tr>
                <td>Supervisor:</td>
                <td>{{ object.supervisor }}</td>
                <td>Email:</td>
                <td>{{ object.supervisor.email }}</td>
            </tr>
            <tr>
                <td>Relevant for your handicap:</td>
                <td>{% if tournament.hcp_relevant %}Yes{% else %}No{% endif %}</td>
                <td>No Restriction: handicap <=</td>
                <td>{{ object.hcp_limit }}. {% if object.hcp_limit != 54.0 %}(Higher handicap after discussion with
                    supervisor.){% endif %}</td>
            </tr>
        </table>
    </section>
    <section>

        <h1>Golf course</h1>
        <table>
            <tr>
                <td>Name:</td>
                <td>{{ course.name }}</td>
            </tr>
            <tr>
                <td>Adresse:</td>
                <td>{{ course.address }}</td>
                <td>{{ course.get_full_city }}</td>
            </tr>
        </table>
    </section>
{% endblock %}