{% block detail-content %}
    <section>
        <button hx-get="{% url 'tournaments:fetch_flights' %}?tpk={{ object.pk }}" 
                hx-swap="innerHTML" 
                hx-target="#ParticipantContent" 
                hx-trigger="click">Show flights</button>
        <button hx-get="{% url 'tournaments:fetch_competitors' %}?tpk={{ object.pk }}" 
                hx-swap="innerHTML" 
                hx-target="#ParticipantContent" 
                hx-trigger="click">Show registration list</button>
    </section>
    <section>
        <p>last update: {{ object.elapsed_time }}</p>
        <h1>Participants</h1>
        <h2>{{ course.name }} ({{ object.date }})</h2>
        <div id="ParticipantContent">
            {% include 'tournaments/partials/competitors.html' %}
        </div>

    </section>
{% endblock %}